<%= render 'layouts/navbar_new_playlist' %>

<body id="spotify-body">
<div class="header-content">
  <div class="header-content-inner text-center">
    <br>
    <br>
    <br>
    <h1 style="font-size: 50px;">Name Your Playlist</h1>
    <br>
    <div class="form-group">
      <%= form_tag playlist_index_path, :method => :post do %>
        <%= text_field_tag :playlist_name, "Pandora Songs", { style: "width: 30%", class: 'form-control spotify-form' }%>
        <br>
        <%= submit_tag "Create Playlist", { style: "background-color: #81b71a", class: "btn btn-primary btn-xl" } %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>
  <h1 style="text-align: center">All Liked Tracks</h1>
  <p style="text-align: center">Total Tracks: <%= @likes.count %></p>
  <br>
  <%= render 'layouts/tracks_table' %>
</body>
