<header id="spotify">
  <div class="header-content">
    <div class="header-content-inner text-center">

      <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
          <h1>Finding Pandora songs...</h1>
        </div>
        <div class="modal-body">
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
      </div>

      <h1><%= current_user.nickname %></h1>
      <hr>
      <h1 style="font-size: 50px;">Name Your Playlist</h1>
      <br>
      <br>
      <br>
      <div class="form-group">
        <%= form_tag playlist_index_path, :method => :post do %>
          <%= label_tag "Playlist Name" %>
          <%= text_field_tag :playlist_name, "My Playlist", class: 'form-control' %>
          <br>
          <%= submit_tag "Create Playlist", { class: "btn btn-primary btn-xl" } %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<body id="spotify-body">
  <h1 style="text-align: center">All Liked Tracks</h1>
  <br>
  <table class="table table-striped" id="playlist">
    <thead>
    <tr>
      <th>#</th>
      <th>Artist</th>
      <th>Track</th>
    </tr>
    </thead>
    <tbody>
    <% @likes.each_with_index do |like, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= like[:artist] %></td>
        <td><%= like[:track] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</body>
